@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Syne:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&family=Montserrat:wght@300;400;500;600&family=Syne:wght@600&display=swap');

*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
}
body{
	/*background-color: #fdeef3;*/
	background-color: #efed9b;
}

.botonera{
	list-style: none;
	height: 40px;
	/*background-color: #213B87;azulfondobotonera1*/
	background-color: #69c0ac;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
}

.botonera ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 30px;
}

.botonera a{
	padding: 10px;
	border: 3px;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.botonera a:hover{
	color: white;
	/*background-color: #f4b3c4;*/
	background-color: #2b255c;
}

.botonera ul a{
	/*color: #f4b3c4;*/
	color: #2b255c;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600; 
	font-size: 15px;
}

.botonera ul a:hover{
	/*color: #28367F;*/
	color: #69c0ac;
}
/*titulo mi nombre*/
h1{
	/*color: #213B87; nombreazul1*/
	color: #69c0ac;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 200px;
	font-weight: 400;
	/*background-color: #f4b3c4;*/
	background-color: #2b255c;
	padding: 140px 100px;
}

/*.nombre h1{
	background-color: #f4b3c4;
	padding: 100px;
}*/

/*imagen y texto*/

.sobremi {
	display: flex;
	align-items: flex-end; 
}
.sobremi article {
	display: flex;
	flex-direction: column;
	justify-content: flex-end; 
}
.sobremi img {
	margin: 40px 0px 50px 100px;
	border-radius: 10%;
}
.contenido{
	margin-top: 40px;
	margin-bottom: 40px;
}


.contenido p{
	font-family: 'Montserrat', sans-serif; 
	color: #191930;
	font-weight: 500;
	font-size: 16px;
	margin: 5px 85px 10px 60px;
	max-width: 50%;
	line-height: 22px;
}
.contenido h3{
	/*color: #f4b3c4;*/
	color: #2b255c;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 500;
	font-size: 30px;
	padding-top: 10px;
	padding-left: 5px;
	/*border-bottom: 3px solid #213b87; bordeazul1*/
	border-bottom: 3px solid #68c0b5;
	/*border-radius: 30px; /*proba en usar esto!*/ 
	margin:  5px 0px 10px 60px; /*intent茅 aplicar este mismo detalle del borde inferior en lo dem谩s titulos pero me queda desfazado, nose si por poner las columnas en una sola caja, eso haga que me queden mal? c贸mo lo puedo resolver?*/
	max-width: 210px;
} 

/*divisi贸n en columnas*/
.contenedor{
	display: flex;
	flex-direction: row;
	
}
.columna1 {
	flex-direction: column;
}

/*experiencia, educaci贸n, idiomas, habilidades*/

h4{
	/*color: #213b87;*/
	color: #69c0ac;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	padding: 10px 20px 0px 100px;
	
	/*fijate de probar en usar una padding left pero en la seccion que contiene "contenedor"*/
	/*profes, no estoy pudiendo encontrar otra alternativa a poner padding de 100px. C贸mo puedo hacer sino*/
}

.columna1 h3{
	/*color: #f4b3c4;*/
	color: #2b255c;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 500;
	font-size: 30px;
	/*border-bottom: 3px solid #213b87;*/
	padding: 30px 90px 0px 20px;
	margin:  30px 40px 10px 80px;
}

.columna1 p{
	font-family: 'Montserrat', sans-serif;
	color: #191930;
	font-weight: 500;
	font-size: 16px;
	padding: 5px 85px 5px 100px;
	line-height: 20px;
}

.columna1 a img{
	padding: 10px 0px 10px 100px;
}


/*contacto*/
.contacto h3{
	/*color: #213b87;*/
	color: #2b255c;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 500;
	font-size: 30px;
	padding: 10px 85px 0px 100px;
	/*border-bottom: 3px solid #26336E;
	background-color: #f4b3c4;*/
}
.contacto ul li{
	color: #191930;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	padding: 10px 50px 5px 100px;
	line-height: 14px;
}

.contacto{
	/*background-color: #f4b3c4;*/
	background-color: #68c0b5;
	/*border-top: 5px solid #213b87;*/
	border-top: 5px solid #2b255c;
	margin-top: 50px;
	padding: 10px 0px;
}

h6{
	/*color: #F4B3C4; */
	color: #efed9b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	display: flex;
	justify-content: center;
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	/*background-color: #213B87;*/
	background-color: #2b255c;
	width: 100vw;
	word-spacing: 15px;
}
