@charset "utf-8";
/* CSS Document */

*{margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #5A197F;
}
.botonera{
	list-style: none;
}
ul.botonera a{
	color: #0C5712;
}