@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;700&family=Raleway:wght@400;700&display=swap');

*{
	margin: 0px;
	padding:0px;
	list-style-type: none;
	text-decoration: none;
}

/*HEADER*/
.botonera{
	width: 100%;
	height: 50px;
	background-color: #EC542B;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 50;
}
.botonera ul{
	display: inline-flex;
	padding: 0px 12px;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.botonera a{
	color: #110F1B;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 0px 12px;
}
.botonera a:hover{
	color: #D5B598;
	background-color: #110F1B;
	border-radius: 15px;
	padding: 0px 12px;
}

/*SECCION1 MI NOMBRE_INDEX*/
.seccion1{
	/*width: 100%;/*nose si es necesario poner este ancho acá*/
	height: 65vh;
	flex-shrink: 0;
	background-color: #110F1B;
	padding-left:100px;
	padding-top: 230px;
}
h1{
	color: #02A894;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 160px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/*SECCION2_ BREVE PRESENTACIÓN*/
.seccion2{
	/*width: 100%;/*nose si es necesario poner este ancho acá*/
	height: 300px;
	flex-shrink: 0;
	background: #D5B598;
	column-gap: 60px;
	display: flex;
	justify-content: space-between;
	padding:100px;
}
.mifoto img{
	border-radius: 30px;
}

.presentacion{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.presentacion img{
	height: 80px;
	animation: zoom 2s infinite alternate;
	display: flex;
	align-content: flex-start;
	padding-bottom: 20px;
	padding-top: 10px;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
h5{
	color: #110F1B;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	align-self: flex-start;
	/*gap: 20px;*/
	padding-top: 30px;
	padding-bottom: 20px;
	text-wrap: balance;
	line-height: 1.5;
}

.vermas{
	display: inline-flex;
	margin: 30px 0px;
	padding: 2px 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid #110F1B;
	background: #02A894;
	color: #110F1B;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.vermas:hover{
	color: #EC542B;
	background-color: #110F1B;
}

/*SECCION3_ galeriaProyectos*/
.seccion3{
	/*width: 100%;/*nose si es necesario poner este ancho acá*/
	height: 900px;
	flex-shrink: 0;
	background: #110F1B;
	padding-left: 100px;
	padding-top: 60px;
}
h3{
	color: #02A894;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/*GALERIA*/
.galeria{
	display: grid;
	padding-top: 30px;
	padding-right: 30px;
	/*grid-template-rows: 1fr auto 1fr;*/
}
ol[aria-label=Photographs]{
	margin: .375rem;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: auto auto auto;
}
ol[aria-label=Photographs] img {
	display:block;
	max-width: 100%;
	/*width: 15rem;*/
	height: auto;
	contain: layout;
}
figure{
	margin: 100px;
	/*padding: 0 0.5rem;esto lo copie tal cual pero no estoy segura para que sirve*/
	display: inline-flex;
	flex-direction: column;
	background: #D5B598;
}
.img_galeria{
	background: #D5B598;
}
element.style{
	view-transition-name: photo-0;
}

/*SOBRE MI HTML*/

.titulo{
	/*width: 100%; lo saco porque sino se ve muy grande*/
	height: 400px;
	flex-shrink: 0;
	background: #110F1B;
	padding-left: 100px;
	display: flex;
	align-items: center;
}

h2{
	color: #02A894;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.presentacion2{ 
	display: flex;
	justify-content: space-between;
	background-color: #D5B598;
	padding-left: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	column-gap: 20px;
}

.caja1{
	width: 50%;
}
.caja2{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/*gap: 5px;*/
}

h4{
	color: #EC542B;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 35px;
}

p{
	color: #110F1B;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-wrap: balance;
}

/*CONTACTO HTML*/

.contacto{
	width: 1920px;
	height: 770px;
	flex-shrink: 0;
	background: #D5B598;
	padding-left: 150px;
}

.pcontacto{
	padding-top: 100px;
	font-size: 35px;
}

form{
	margin-top: 60px;
	margin-bottom: 30px;
	display:flex;
	flex-direction: row;
	gap: 60px;
}

form div{
	height: auto;
	display: flex;
	flex-direction: column;
}

input{
	display:flex;
	background-color: #8ACFC7;
	padding: 15px;
	margin: 10px 0px 10px 0px;
	font-family:'Raleway', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	width: 500px;
}

label{
	display: block;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	color: #110F1B;
	padding-top: 40px;
}

textarea{
	border: 1px solid #110F1B;
	width: auto;
	height: 100px;
	padding: 5px;
	font-family:'Raleway', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}

.enviar{
	display: inline-flex;
	margin-top: 40px;
	padding: 10px;
	justify-content: center;
	border-radius: 15px;
	border: 2px solid #110F1B;
	background: #02A894;
	color: #110F1B;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.enviar:hover{
	color: #EC542B;
	background-color: #110F1B;
}

/*FOOTER*/
footer{
	width: 100%;
	height: 50px;
	flex-shrink: 0;
	border-top: 4px solid #EC542B;
	background: #02A894;
}

footer h6{
	color: #110F1B;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-left: 60px;
	margin-top: 20px;
}
