@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

h1{
	color: #C7A6CF;
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #5A197F;
}
nav ul li{
	display: inline;
}
.botonera{
	list-style: none;
}
ul.botonera a{
	color: #A78BC0;
}
ul.botonera a:hover{
	color: #26336E
}